.homeimage img {
    width: 100%;
    height: 600px;
    /* margin-bottom: -400px; */
}
.homeimage{
    background-image: url('../image/home.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 540px;
}
.hometitlein{
    padding: 40px;
}
.productpullup{
    margin-bottom: 150px;
}
.productsection{
   margin-bottom: 38px;
}


.legend{
    margin-top: -420px;
    text-align: center;
    justify-content: center;
}

.carousel-caption-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* or any color that stands out on your image */
  background: rgba(0,0,0,0.4); /* optional: for better readability */
  padding: 10px 20px;
  border-radius: 8px;
  z-index: 2;
  text-align: center;
  width: max-content;
  max-width: 90%;
}
.carousel-slide-relative {
  position: relative;
}